
<h2>Register</h2>

<div class="jumbotron">
    <h1>Employer Registration</h1>
    <p class="lead">Employer Registration.You can Post about your Company</p>
    <p><a href="" class="btn btn-primary btn-lg">Go to the Rregistration &raquo;</a></p>
    @Html.ActionLink("Register", "EmployerRegistration", "Registration")
</div>

<div class="jumbotron">
    <h1>Employee Registration</h1>
    <p class="lead">Employee Registration.You can View and apply for Jobs</p>
    <p><a href="" class="btn btn-primary btn-lg">Go to the Rregistration &raquo;</a></p>
    @Html.ActionLink("Register", "EmployeeRegistration", "Registration")

</div>

